<div id="report">
  <% if results.present? %>
    <% if @report.is_for_songs %>
      <%= render 'table', results: results %>
    <% else %>
      <%= column_chart results %>
    <% end %>
  <% end %>
</div>